{% load bootstrap3 %}
<html>
    <head>
        <title>{% block page_title%}MyWeb에 오신 것을 환영합니다.{% endblock%}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <style>
            img { max-width: 100%; }
        </style>

        <font color="grey" size="7">MyWeb (testing)</font>

        {% if request.user.is_authenticated %}
        &emsp;{{ request.user }}님! &nbsp;<a href="{% url 'logout_url' %}" class="btn btn-default btn-xs" role="button"> 로그아웃 </a><br>

        {% else %}
        &emsp;<a href="{% url 'login_url' %}" class="btn btn-default btn-xm" role="button">로그인</a><br>
        {% endif %}
    </head>

    <body class="container">
        {% block content %}{% endblock %}
    </body>
</html>
