{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 목록 {% endblock %}

{% block content %}
<a class="btn btn-default" href="{% url 'create_post' %}"><span class="glyphicon glyphicon-file"></a>
<a class="btn btn-default" href="{% url 'list_posts' %}"><span class="glyphicon glyphicon-refresh"></span></a>
<br>

    {% for post in posts %}
    <div class="post_container">
        <h3><a href="{% url 'view_post' pk=post.pk %}">{{ post.title | truncatechars:"30" }}</a><small >&nbsp;&nbsp; by {{ post.user }}</small></h3>
        <hr width="50%" align="left" />

        <div class="post_content">
            <p>{{ post.content | truncatechars:"500" }}</p>

        </div>

        <div>
            <p>카테고리 : {{ post.category.name }}</p>
            <p>작성일시 : {{ post.created_at | date:"Y-m-d, H:i:s" }}</p>
        </div><br>
    </div>
    {% empty %}
        <p>글이 전혀 없습니다.</p>
    {% endfor %}

    {% bootstrap_pagination posts %}

{% endblock %}
